<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="search1" fileName="logs/Diplom.log">
            <PatternLayout pattern="%d [%t] %msg%n"/>
            <Filters>
                <MarkerFilter marker="EXCEPTION"/>
            </Filters>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="search1"/>
        </root>
    </loggers>
</configuration>


 